.modal-container {
  position: absolute;
  display: flex;
  margin: 10%;
  padding: 2%;
  z-index: 20;

  /* colors */
  background-color: wheat;
  color: black;
}

.container-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 30px;
  cursor: pointer;
}

.container-content {
}
